
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0; 
}
body{
    width: 100%;
    font-family: "Poppins", sans-serif;
    font: 16px/28px;
    color: #eaeaea;
    background-color: #080808;
}

.container{
    width: 800px;
    margin: auto;
    background-color: #1a1a1a;
}

.header{
    padding: 20px;
    text-align: center;
}

.header ul li{
    display: inline-block;
    margin-right: 5px;
    margin-top: 20px;
}

.header ul li a{
    text-decoration: none;
    color: #8aff04;
}

.hero-image img{
    width: 100%;
    border-left: 10px solid rgb(255, 255, 255);
    box-sizing: border-box;
}

.artikel{
    margin: 20px;
    text-align: center;
}

.artikel h1{
    margin-bottom: 20px;
}

.artikel p{
    margin-top: 5px;
}

.artikel a{
    color: #8aff04;
    
}

.footer{
    background-color: #8aff04;
}

.footer p{
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 5px;
}